<!-- INCLUDE overall_header.html -->
<h1>{L_ACP_MAPS}</h1>
<p>{L_ACP_MAPS_EXPLAIN}</p>
<form id="acp_maps" method="post" action="{U_ACTION}">
   <fieldset>
      <dl>
         <dt><label for="title">{L_ACP_MAPS_TITLE}{L_COLON}</label><br /><span>{L_ACP_MAPS_TITLE_INFO}</span></dt>
         <dd><input name="title" type="text" size="30" value="{TITLE}"></dd>
      </dl>
      <dl>
         <dt><label for="center">{L_ACP_MAPS_CENTER}{L_COLON}</label><br /><span>{L_ACP_MAPS_CENTER_INFO}</span></dt>
         <dd><input name="center" type="text" size="30" value="{CENTER}"></dd>
      </dl>
		<dl>
			<dt><label for="maps_group">{L_ACP_MAPS_GROUP}{L_COLON}</label><br /><span>{L_ACP_MAPS_GROUP_INFO}<br />{L_ACP_MAPS_CTRL}</span></dt>
			<dd>
				<select id="maps_group" size="10" multiple="multiple" name="maps_group[]">
					<!-- BEGIN group_setting -->
					<option value="{group_setting.GROUP_ID}"<!-- IF group_setting.SELECTED -->selected="selected"<!-- ENDIF -->>{group_setting.GROUP_NAME}</option>
					<!-- END group_setting -->
				</select>
			</dd>
		</dl>
		<dl>
			<dt><label for="maps_group_edit">{L_ACP_MAPS_GROUP_EDIT}{L_COLON}</label><br /><span>{L_ACP_MAPS_GROUP_EDIT_INFO}<br />{L_ACP_MAPS_CTRL}</span></dt>
			<dd>
				<select id="maps_group_edit" size="10" multiple="multiple" name="maps_group_edit[]">
					<!-- BEGIN group_edit_setting -->
					<option value="{group_edit_setting.GROUP_ID}"<!-- IF group_edit_setting.SELECTED -->selected="selected"<!-- ENDIF -->>{group_edit_setting.GROUP_NAME}</option>
					<!-- END group_edit_setting -->
				</select>
			</dd>
		</dl>
		<dl>
			<dt><label for="maps_group_delete">{L_ACP_MAPS_GROUP_DELETE}{L_COLON}</label><br /><span>{L_ACP_MAPS_GROUP_DELETE_INFO}<br />{L_ACP_MAPS_CTRL}</span></dt>
			<dd>
				<select id="maps_group_delete" size="10" multiple="multiple" name="maps_group_delete[]">
					<!-- BEGIN group_delete_setting -->
					<option value="{group_delete_setting.GROUP_ID}"<!-- IF group_delete_setting.SELECTED -->selected="selected"<!-- ENDIF -->>{group_delete_setting.GROUP_NAME}</option>
					<!-- END group_delete_setting -->
				</select>
			</dd>
		</dl>
		<dl>
			<dt><label for="Placemark">{L_ACP_MAPS_PLACEMARK_POSTS}{L_COLON}</label></dt>
			<dd>
				<label><input type="radio" class="radio" name="Placemark" value="1"{% if PLACEMARK %} checked="checked"{% endif %} /> {L_YES}</label>
				<label><input type="radio" class="radio" name="Placemark" value="0"{% if not PLACEMARK %} checked="checked"{% endif %} /> {L_NO}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="maps_posts_forum">{L_ACP_MAPS_POSTS_FORUM}{L_COLON}</label><br /><span>{L_ACP_MAPS_POSTS_FORUM_INFO}</span></dt>
			<dd><select id="maps_posts_forum" name="maps_posts_forum" size="1">{POSTS_FORUM}</select></dd>
		</dl>
   </fieldset>

	<fieldset>
		<legend>{L_ACP_MAPS_SAVE}</legend>
      <p class="submit-buttons">
         <input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
         <input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
      </p>
      {S_FORM_TOKEN}
	</fieldset>
</form>
<!-- INCLUDE overall_footer.html -->
